# CMake
build
devel
logs
install
log
.catkin_tools
cmake_build
package.xml

# Rust
rust_build
Cargo.lock

# Python
__pycache__

# IDE
.vscode

# OS
.DS_Store
Thumbs.db

# Interface
onnxruntime
libtorch

# Mujoco
mujoco
MUJOCO_LOG.TXT

# Data
.cache
*.json

# temp
*.zip
*.tgz
*.tar.gz
temp_extract*/

# robot descriptions
rl_ITRI_zoo
# policy/go2/extreme_parkour/
policy/go2/
# depth_debug/
src/rl_ITRI/worlds/stair*/
*.npy
*.png
*.bag
*.csv
# policy/go2/extreme_parkour/*.pt
policy/idog/
policy/idogc/
policy/idogcgo2/
policy/leo
# policy/idog/extreme_parkour/
bag/
result/
